<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/9374d4df5e.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <title>Commute to and from UT</title>
    <link rel="stylesheet" href="/css/index.css" media = "screen">
</head>

<body>
        <nav>
            
                <div class="nav-link"><a href="/"><b>Home</b></a></div>
                <div class="nav-link"><a href="/cv"><b>CV</b></a></div>
                <div class="nav-link"><a href="/testcv"><b>testcv</b></a></div>
                <div class="nav-link"><a href="/view_data"><b>View Data</b></a></div>
                <div class="nav-link"><a href="/commuteTable"><b>Commute Data</b></a></div>
                <div class="nav-link"><a href="/commuteGraphs"><b>Commute Graphs</b></a></div>
        </nav>

    {{{ body }}}
</body>

<br>

<footer>
    <p>William Cleveland </p>
</footer>

</html>
