<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Commute to and from UT</title>
    <link rel="stylesheet" href="/css/index.css" media = "screen">
</head>

<body>
    <div class="top-part">

        <nav>
            <div class="nav-bar">
                <a href="/">Home</a>
                <a href="/cv">CV</a>
                <a href="/view_data">View Data</a>
                <a href="/commuteTable">Commute Data</a>
                <a href="/commuteGraphs">Commute Graphs</a>
            </div>
        </nav>
    </div>
    {{{ body }}}
</body>

<br>

<footer>
    <p>William Cleveland </p>
</footer>

</html>
