<main class="contents">
			<h2 class="center">Education</h2>
			<hr>
			<h3 class="h3-small">Bachelor of Science in Computer Science</h3>
			<div class="indented">
				Oregon State University, January 2022 - Present
			</div>
			<br>
			<h3 class="h3-small">Bachelor of Science in Biochemistry</h3>
			<div class="indented">
				University of Texas at Austin, May 2015
			</div>

			<br>

			<h2 class="center">Work Experience</h2>
			<hr>
			<h3>Dell Medical School</h3>
			<br>
			<div class="indented">
				<h4>Research Scientist</h4>
				<div class="toolset">
					<div class="tool"><i class="fa-solid fa-lightbulb fa-1x" aria-hidden="true"></i>&nbsp;LitElement</div>
					<div class="tool"><i class="fa-brands fa-html5 fa-1x" aria-hidden="true"></i>&nbsp;HTML&nbsp;/&nbsp;CSS</div>
					<div class="tool"><i class="fa-brands fa-js fa-1x" aria-hidden="true"></i>&nbsp;JavaScript</div>
					<div class="tool"><i class="fa-brands fa-angular fa-1x" aria-hidden="true"></i>&nbsp;Angular&nbsp;/&nbsp;TS</div>
					<div class="tool"><i class="fa-brands fa-aws fa-1x" aria-hidden="true"></i>&nbsp;AWS</div>
					<div class="tool"><i class="fa-solid fa-chart-line fa-1x" aria-hidden="true"></i>&nbsp;New Relic</div>
				</div>
				<p class="indented">May 2021 - Current</p>
				<ul>
					<li>some of this</li>
					<li>lots of that</li>
				</ul>

				<br>

				<h4>Research Assistant II</h4>
				<div class="toolset">
					<div class="tool"><i class="fa-brands fa-html5 fa-1x" aria-hidden="true"></i>&nbsp;HTML&nbsp;/&nbsp;CSS</div>
					<div class="tool"><i class="fa-brands fa-angular fa-1x" aria-hidden="true"></i>&nbsp;Angular&nbsp;/&nbsp;TS</div>
					<div class="tool"><i class="fa-brands fa-java fa-1x" aria-hidden="true"></i>&nbsp;Java</div>
					<div class="tool"><i class="fa-brands fa-aws fa-1x" aria-hidden="true"></i>&nbsp;AWS</div>
				</div>
				<p class="indented">March 2017 - October 2020</p>
				<ul>
					<li>hearts</li>
					<li>lungs</li>
				</ul>

			</div>

			<br>

			<h2 class="center">Select Projects</h2>
			<hr>
			<h3 class="h3-small"><a href="https://github.com/">W.H.O.M.M.P</a></h3>
			<div class="toolset">
				<div class="tool"><i class="fa-brands fa-html5 fa-1x" aria-hidden="true"></i>&nbsp;HTML&nbsp;/&nbsp;CSS</div>
				<div class="tool"><i class="fa-brands fa-js fa-1x" aria-hidden="true"></i>&nbsp;JavaScript</div>
			</div>
			<p class="indented">
			does lots of stuff
			</p>

			<br>

			<h2 class="center">Select Presentations</h2>
			<hr>
			<h3 class="h3-small">
				conferences
			</h3>
			<p class="indented">
				Presented 
			</p>

			<br>
			
		</main>