body {
    background-color: #ebf4ec22;
    color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 17px;
    margin: 0;
    padding: 0;
    color: #1d1d1f;
}

.nav-bar {
    background-color: rgb(11, 79, 138);
    display: flex;
    justify-content: space-between;
    
}

.nav-bar a {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px 30px;
    font-size: 18px;
    text-decoration: none;
}

form { 
    margin: 0 auto; 
}

select{
    margin: 4px 0;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 10px;
}

input[type="number"] {
    background-color: #ffffff;
    color: #000000;
    margin: 4px 0;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 10px;
}
button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 30px;
    padding: 7px 15px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
    border: 1px solid transparent;
}

.center-content {
    display: flex;
    justify-content: center;
    
}

.checkbox-container {
    text-align: left;
    border: 1px solid black;
}

#svg {
    width: 100%;
    height: 100%;
}

#toWorkViz {
    border: 1px solid black;
}

#toHomeViz {
    border: 1px solid black;
    justify-content: center;
}


#d3Legend {
    border: 1px solid black;
}

table, th, td {
    border: 2px solid;
    border-collapse: collapse;
}

th {
    background-color: rgb(11, 79, 138);
    color: rgb(205, 188, 243);
}

footer {
    text-align: center;
    bottom: 0px;
    width: 100%;
}




hr {
    background-image: linear-gradient(to right, #E1E2E1, #304C91, #E1E2E1);
    border: 0;
    margin-bottom: 1.8em;
    height: 1px;
}

h4, .h3-small {
    color: #373435;
    font-size: 1.2em;
    font-weight: 600;
    margin: 2px;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
